<li id="following-<%=follwing.id %>" style="position: relative;">
	<div>
		<div class="name"><%= follwing.follower.username%></div>
		<div class="details"><%=follwing.follower.KiteCount%> kites | <%=follwing.follower.CommentCount%> comments made</div>
		<% if current_user == @kite.user || current_user == follwing.follower %>
			<%= render 'follwings/unfollow', :type => follwing.Type %>
		<% end %>
	</div>
</li>
