<div class="wrapper login has-navigation">
		<div class="content">
			<img class="logo-color" src="/images/logo-color.png" width="190" height="136" alt="Logo Color">
			<h2 class="create-your-account">Create your account</h2>
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
				:html => {:class => "signup-form" }) do |f| %>
			  <%= devise_error_messages! %>
			
			  <%= f.email_field :email, :placeholder=>"Email Address" %>
			
			  <%= f.text_field :username, :placeholder=>"Username" %>
			
			  <%= f.password_field :password, :placeholder=>"Password" %>
			
			  <%= f.password_field :password_confirmation, :placeholder=>"Password Again" %>
			
			  <%= f.submit "Sign up", {:class => "create-button"} %>
			  
				<img class="or" src="/images/or.png" width="72" height="24" alt="Or">
			<% end %>
			
			<%= render :partial => "devise/shared/links" %>
			
		</div>
	</div>


