<div class="comment">
	<div class="comment-content">
		<!--<div class="options">
			<div class="option-arrow">
				<img src="/images/down-arrow-big.png">
			</div>
			<% if Kite.find(comment.kite_id).user == current_user ||
				Kite.user == current_user %>
			
			<div class="the-options">
				<ul>
					<li></li>
				</ul>
			</div>
			<% end %>
		</div>-->
		<div class="author-info">
			<ul class="user-list">
				<li>
					<div class="name"><%=link_to(comment.user.KosherUsername,userPublicKitesIndex_kites_path(:username=>comment.user.username))%></div>
					<div class="date"><%= comment.created_at.strftime("%B %d, %Y") %></div>
				</li>
			</ul>
		</div>
		<% if comment.kite.user == current_user || 
			comment.user == current_user %>
			<div class="hard-options">
				<%= button_to '', comment, :confirm => 'Are you sure?', :method => :delete, :class => "smallDeleteButton button" %>
			</div>
		<% end %>
		<div class="title"><%=comment.Title%></div>
		
		<div class="the-comment"><%= auto_link(simple_format(formatless_tags(comment.content))) %></div>
	</div>
	<!--<img src="/images/comment-separator.png">-->
	
</div>