<div class="comment">
	<div class="name"><%=link_to(comment.user.KosherUsername,userPublicKitesIndex_kites_path(:username=>comment.user.username))%></div>
	<div class="title"><%=comment.Title%></div>
	<div class="comment-content"><%= auto_link(simple_format(formatless_tags(comment.content))) %></div>
	<div class="created-ago">
    (<%= distance_of_time_in_words_to_now(comment.created_at) %> ago)
    <% if comment.kite.user == current_user || comment.user == current_user %>
      <%= link_to 'delete', comment, :confirm => 'Are you sure you want to delete this comment?', :method => :delete, :class => "smallDeleteLink" %>
    <% end %>
  </div>
</div>
