<%= form_for(@kite) do |f| %>
  <% if @kite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kite.errors.count, "error") %> prohibited this kite from being saved:</h2>

      <ul>
      <% @kite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= @kite.user_id=current_user.id %>

  <div class="field">
    <%= f.label :Description %><br />
    <%= f.text_area :Description %>
  </div>
  <div class="field">
    <%= f.label :Completed %><br />
    <%= f.text_field :Completed %>
  </div>
  <div class="field">
    <%= f.label :CreateDate %><br />
    <%= f.date_select :CreateDate %>
  </div>
  <div class="field">
    <%= f.label :CompleteDate %><br />
    <%= f.date_select :CompleteDate %>
  </div>
  <div class="field">
    <%= f.label :ImageLocation %><br />
    <%= f.text_field :ImageLocation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
