<p id="notice"><%= notice %></p>

<p>
  <b>Created:</b>
  <%= @kite.CreateDate %>
</p>

<% if @kite.Completed? %>
<p>
  <b>Completed:</b>
  <%= @kite.Completed %>
</p>

<p>
  <b>Completed On:</b>
  <%= @kite.CompleteDate %>
</p>
<% end %>

<p>
  <%= image_tag(@kite.ImageLocation, :alt=>@kite.Description, :mouseover=>@kite.Description) %>
</p>


<%= link_to 'Edit', edit_kite_path(@kite) %> |
<%= link_to 'Back', kites_path %>
