<%= form_for(@kite, :html => {:class => "upload well", :multipart => true}) do |f| %>
  <% if @kite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kite.errors.count, "error") %> prohibited this kite from being saved:</h2>

      <ul>
      <% @kite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-vertical" style="padding-top: 200px;">
<h2>Step 1</h2><p>Choose an image for your kite.  It should be something that reminds of your
goal and inspires you to achieve it.</p>
  	<%= f.label "Kite Image", :class => "control-label" %><br />
  	<%= f.file_field :Upload, :class=>"input-file" %>
<br/>
<br/>
<br/>
<h2>Step 2</h2>
<p>Choose a title for your kite</p>
    <%= f.label "Overview", :class => "control-label" %><br />
    <%= f.text_area :Description, :size => "600x1", :style=> "width: 65%;", :onkeyup => "CheckMaxLength(this);", :maxLength => 70 %>
</div>
<h2>Step 3</h2>
<p>Optionally create a short description of your kite (140 characters)</p>
 	<%= f.label :Details, :class => "control-label" %><br/>
 	<%= f.text_area :Details, :size => "600x5", :style=>"width: 65%;", :onkeyup => "CheckMaxLenth(this);", :maxLength => 140 %> 
  <br/>
    <%= f.submit "Create kite", {:class => "btn"} %>
    <%= link_to 'Cancel', current_user, :class => "btn" %>
<% end %>
