<div class="wrapper create has-navigation">
	<div class="content">
		<h2 class="form-header-type-2">Create a new kite</h2>
		<%= form_for(@kite, :html => {:class => "form padded-form signup-form", :multipart => true}) do |f| %>
		  <% if @kite.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@kite.errors.count, "error") %> prohibited this kite from being saved:</h2>
		
		      <ul>
		      <% @kite.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
			<div class="column-1">
				<%= f.text_field :Description, :placeholder => "Name", :onkeyup => "CheckMaxLength(this);", :maxLength => 70 %>
				<select>
					<option value="">Select an icon</option>
					<!-- Icon options go here-->
				</select>
				<!-- PLACEHOLDER. I think your best bet is to use a javascript upload plugin that can integrate with Rails. I've styled these elements in hopes that you can reuse them within whatever plugin you choose -->
				<div style="position: relative;">
					<input id="surrogate" type="text" class="image-upload-field" />
				</div>
			</div>
			<div class="column-2">
				<select>
					<option value="">Category</option>
					<!-- Category options go here-->
				</select>
				<input type="text" name="add-tags" placeholder="Add Tags">
				<div id="btnAddImage" class="button add-button add-image">+ Add image</div>
			</div>
			<%= f.text_area :Details, :placeholder => "Description", :onkeyup => "CheckMaxLenth(this);", :maxLength => 140 %> 
			<div class="make-private">
				<%= f.check_box(:sharelevel, {:style => "float:left;"}, "private", "public") %>
				<label for="kite_sharelevel" style="float: left;">Make private</label>
			</div>
			
			<!-- <div class="button add-button add-members">+ Add Members</div> -->
			<%= f.submit "Create", {:class => "create-button button"} %>
			<%= f.file_field :kiteimage, :class=>"image-upload-field", :style=>"visibility: hidden;" %>
		<% end %>
	</div>
</div>	
<div id="lockpane" class="LockOff"></div> 
<%= javascript_include_tag "vendor/jquire.ui.widget.js" %>
<%= javascript_include_tag "jquery.iframe-transport.js" %>
<%= javascript_include_tag "jquery.fileupload.js" %>
<script type="text/javascript">
	$('#btnAddImage').click(function(event){
		$('#kite_kiteimage').click();
	});
	$('#kite_kiteimage').change(function(click) {
		$('#surrogate').val(this.value);
	});
	$('.create-button').click(function(event) {
		$('#lockpane').toggleClass('LockOn', true);
		$('#lockpane').toggleClass('LockOff', false);
	} )
</script>
