<%= form_for(@kite, :html => {:class => "well", :multipart => true}) do |f| %>
  <% if @kite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kite.errors.count, "error") %> prohibited this kite from being saved:</h2>

      <ul>
      <% @kite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 

  <div class="field">
    <%= f.label :Description %><br />
    <%= f.text_area :Description, :size => "600x5", :style=> "width: 65%;" %>
    
    <%= f.label :Details, :class => "control-label" %><br/>
 	<%= f.text_area :Details, :size => "600x5", :style=>"width: 65%;"%> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
