<div class="wrapper create has-navigation">
	<% if defined? child %>
		<div class="content">
	<%end%>
		<h2 class="form-header-type-2">Create a new kite</h2>
		<%= form_for(@kite, :html => {:class => "form padded-form signup-form", :multipart => true}) do |f| %>
		  <% if @kite.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@kite.errors.count, "error") %> prohibited this kite from being saved:</h2>
		
		      <ul>
		      <% @kite.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
			<div class="column-1">
				<%= f.text_field :Description, :placeholder => "Name", :onkeyup => "CheckMaxLength(this);", :maxLength => 70 %>
				<select>
					<option value="">Select an icon</option>
					<!-- Icon options go here-->
				</select>
				<!-- PLACEHOLDER. I think your best bet is to use a javascript upload plugin that can integrate with Rails. I've styled these elements in hopes that you can reuse them within whatever plugin you choose -->
				<div style="position: relative;">
					<%if @isAutoAdd %>
						<%= f.hidden_field :ImageLocation, :class => "remote-image-field" %>
					<% else %>
						<input id="surrogate" type="text" class="image-upload-field surrogate" />
					<% end %>
					
				</div>
			</div>
			<div class="column-2">
				<select>
					<option value="">Category</option>
					<!-- Category options go here-->
				</select>
				<input type="text" name="add-tags" placeholder="Add Tags">
				<% if @isAutoAdd.nil? %>
					<div id="btnAddImage" class="button add-button add-image">+ Add image</div>
				<% end %>
			</div>
			<%= f.text_area :Details, :placeholder => "Description", :onkeyup => "CheckMaxLenth(this);", :maxLength => 140 %> 
			<div class="make-private">
				<%= f.check_box(:sharelevel, {:style => "float:left;"}, "private", "public") %>
				<label for="kite_sharelevel" style="float: left;">Make private</label>
			</div>
			
			<!-- <div class="button add-button add-members">+ Add Members</div> -->
			<%= f.submit "Create", {:class => "create-button button"} %><br/>
			<%= link_to 'Cancel', @kites, :class => "create-button button"%> 
			<%= f.file_field :kiteimage, :class=>"image-upload-field upload-actual", :style=>"visibility: hidden;" %>
		<% end %>
	<% if defined? child %>
		</div>
	<%end%>
</div>	
<div id="lockpane" class="LockOff"></div> 
<!--<%= javascript_include_tag "vendor/jquery.ui.widget.js" %>
<%= javascript_include_tag "jquery.iframe-transport.js" %>
<%= javascript_include_tag "jquery.fileupload.js" %>-->

