<%= form_for(@kite, :html => {:class => "upload well", :multipart => true}) do |f| %>
  <% if @kite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kite.errors.count, "error") %> prohibited this kite from being saved:</h2>

      <ul>
      <% @kite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-vertical">
<p>Choose an image for your kite.</p>
  	<%= f.label "Kite Image", :class => "control-label" %><br />
  	<%= f.file_field :Upload, :class=>"input-file" %>
<p>Write something to describe your kite.  Just a quick description of what you want to accomplish</p>
    <%= f.label :Description, :class => "control-label" %><br />
    <%= f.text_area :Description, :size => "600x5", :style=> "width: 65%;"%>
</div>
  
    <%= f.submit "Create kite", {:class => "btn"} %>
<% end %>
