<footer id="page-footer" class="page-footer hidden">
	<div class="footer-tab"><a class="hide-this-bar footer-tab-link">Hide this bar</a><a class="show-this-bar footer-tab-link">Show this bar</a></div>
	<div class="footer-box stat-box stat-new">
		<img src="/images/big-icon-flag.png" width="83" height="82">
		<p class="stat"><%= @newKites %></p>
		<p class="label">New!</p>
	</div>
	<div class="footer-box stat-box stat-user-kites">
		<img src="/images/big-icon-stacks.png" width="84" height="82">
		<p class="stat"><%= @kiteCount %></p>
		<p class="label">User Kites</p>
	</div>
	<div class="footer-box stat-box stat-completed">
		<img src="/images/big-icon-check.png" width="83" height="82">
		<p class="stat"><%= @completedKites %></p>
		<p class="label">Completed</p>
	</div>
	<div class="footer-box feed-box">
		<div class="label-side">
			<img src="/images/big-icon-thumbs-up.png" width="84" height="83">
			<p class="label">Most<br>Popular</p>
		</div>
		<div class="feed-side">
			<ul class="kite-feed">
				<!-- Begin comment feed -->
				<% for summarykite in @popularKites %>
				<li class="kite-feed-item">
					<span class="headline"><%=h link_to summarykite.Description, @summarykite%></span><br>
					<span class="details"><%=h summarykite.user.KosherUsername %> | <a>23 Following</a></span>
				</li>
				<%end%>
				<!-- End comment feed -->
			</ul>
		</div>
	</div>
	<div class="footer-box feed-box">
		<div class="label-side">
			<img src="/images/big-icon-speech-bubble.png" width="84" height="83">
			<p class="label">Recent<br>Comments</p>
		</div>
		<div class="feed-side">
			<ul class="kite-feed">
				<!-- Begin comment feed -->
				<% for comment in @recentComments %>
				<li class="kite-feed-item">
					<span class="headline"><%= link_to truncate(comment.content, :length =>40, :omission => '...(continued)'), comment.kite %></span><br>
					<span class="details"><%=h link_to comment.user.KosherUsername, comment.kite %> | 
						<a href='<%=h kite_path(comment.kite)%>'><%=h comment.kite.LikeCount%> Following</a></span>
				</li>
				<%end%>
				<!-- End comment feed -->
			</ul>
		</div>
	</div>
</footer>