<div id="kite-nav" class="kite-nav hidden">
	<div class="kite-nav-tab">
		<div id="info" class="kite-nav-button info active">
			<div class="active-flag"></div>
		</div>
		<div id="support" class="kite-nav-button heart">
			<div class="active-flag"></div>
		</div>
		<div id="comments" class="kite-nav-button comments">
			<div class="active-flag"></div>
		</div>
		<div id="members" class="kite-nav-button members">
			<div class="active-flag"></div>
		</div>
		<% if current_user==@kite.user %>
		<div id="settings" class="kite-nav-button settings">
			<div class="active-flag"></div>
		</div>
		<% end %>
		<div class="kite-nav-toggle show">
			<div class="active-flag"></div>
		</div>
		<div class="kite-nav-toggle hide">
			<div class="active-flag"></div>
		</div>
	</div>
	<div class="kite-nav-content">
		<div class="kite-nav-header">
			<h1 class="detail-kite-title"><%=formatless_tags(@kite.Description)%></h1>
			<p class="dateline">Created <%=@kite.FormattedCreateDate%></p>
		</div>
		<div class="detail-section info">
			<div class="kite-nav-content-section">
				<h3>Overview</h3>
				<%= format_tags(@kite.Details)%>
			</div>
			<div class="kite-nav-content-section">
				<h3>Progress</h3>
			</div>
			<% if current_user == @kite.user %>
				<%= render 'kite_posts/form'%>
			<% end %>
			<div id="postlist" class="additional-images">
				<%= render partial: "kite_posts/kite_post", collection: @kitePosts %>
			</div>
			<%= link_to 'Load More', kite_path(@kite, :postpage => @kitePosts.next_page), :class => 'load-more load-more-posts', :remote => true if @kitePosts.next_page %>
			
			
			<% if !@kite.ImageLocation.nil? && valid_json?(@kite.ImageLocation) %>
				<p class="dateline">Image original source: <a hef='<%= JSON.parse(@kite.ImageLocation)['site'] %>'>
					<%= JSON.parse(@kite.ImageLocation)['site'] %>
				</a></p>
			<% end %>
		</div>
		<div class="detail-section support" style="display:none;">
			<h2>Support</h2>
			<ul id="likelist" class="members-list user-list" >
				<%= render @kite.follwings.where(:Type => "like")%>
			</ul>
			<% if !current_user.nil? && current_user != @kite.user %>
				<%= render 'follwings/follow', :title => "Support this kite", :type => "like"%>
				
			<% end %>
		</div>
		<div class="detail-section comments" style="display:none;">
			<h2>Comments</h2>
			<% if current_user %>
				<%= render 'comments/form'%>
			<% end %>
			<div id="commentslist">
				<%= render @comments %>
			</div>
			<%= link_to 'Load More Comments', kite_path(@kite, :commentpage => @comments.next_page), :class => 'load-more load-more-comments', :remote => true if @comments.next_page %>
		</div>
		<div class="detail-section members" style="display:none;">
			<h2>Members</h2>
			<% if !current_user.nil? && current_user == @kite.user %>
				<%= render 'follwings/member', :title => "Add a new member"%>
			<% end %>
			<ul id="memberslist" class="members-list user-list">
				<%= render @kite.follwings.where(:Type => "member")%>
			</ul>
		</div>
		<% if current_user==@kite.user %>
			<div class="detail-section settings" style="display: none;">
				<% if current_user.provider == :facebook %>
				<%= button_to "Post Kite to Facebook", action: "ShareKiteToSocialMedia" %>
				<% end %>
				<%= link_to 'Edit this kite', edit_kite_path(@kite), :class => "edit-this-kite" %>
				<%= link_to 'Delete this kite', @kite, :confirm => 'Are you sure you want to delete this kite?', :method => :delete, :class => "delete-this-kite"%>
			</div>
		<% end %>
	</div>
</div>