<div class="<%= size == :thumb ? 'col-xs-3' : ''%>">
  <div class="<%= size%>-kite" style="background: url('<%= kite.kiteimage.url(size) %>') no-repeat center; background-size: cover;">
    <% if @function == "Member Kites" %>
      <% if kite.follwings.where(:user_id => current_user).first.try(:Type) == "member"%>
          <img src="/images/kite-nav-members.png" style="position: absolute;">
      <% else %>
          <img src="/images/kite-nav-heart.png" style="position: absolute;">
      <% end %>
    <% end %>
    <div class="overlay">
      <% if size == :thumb %>
        <h2 class="kite-name">
          <%=h link_to truncate(kite.Description, :length=>70), kite_path(kite, :from_search => @text) %>
        </h2>
        <p class="kite-byline">Created by <%=h link_to kite.user.KosherUsername, userPublicKitesIndex_kites_path(:username=>kite.user.username), :class => "author-link" %></p>
        <div class="kite-likes">
        	<% if current_user && (kite.user.id != current_user.id) %>
        	<%= link_to image_tag('landing-heart-open.png', :name => kite.id, 
        	:class => current_user.is_following?(kite.id) ? 'kite-like hidden' : 'kite-like'),
                          Follow_kite_path(kite, type: 'like'),
                          :method => :put,
                          :remote => true %>
            <%= link_to image_tag('landing-heart-closed.png', :name => kite.id, 
        	:class => current_user.is_following?(kite.id) ? 'kite-unlike' : 'kite-unlike hidden'),
                          Unfollow_kite_path(kite, type: 'like'),
                          :method => :put,
                          :remote => true %>
            <% else %>
            
            	<a><%=image_tag('landing-heart-closed.png')%></a>
            
            <% end %>
        	<span class="like-count" name=<%= kite.id %>><%= kite.LikeCount %></span> Likes
        </div>
        <div class="view-kite"><%=h link_to "View", kite_path(kite, :from_search => @text), :class=>"view-kite-link"%></div>
      <% else %>
        <h4 class="kite-name">
          <%=h link_to truncate(kite.Description, :length=>50), kite_path(kite, :from_search => @text) %>
        </h4>
        <p class="kite-byline">Created by <%=h link_to kite.user.KosherUsername, userPublicKitesIndex_kites_path(:username=>kite.user.username), :class => "author-link" %></p>
      <% end %>
    </div>
  </div>
</div>
