<div class="wrapper create has-navigation">
	<div class="content">
		<h2 class="form-header-type-2">Select an image</h2>
		<div class="grid">
			<% @images.each do |image| %>
			<div style="background: url('<%= image[:path] %>') no-repeat center; background-size: cover; width:200px;height: 200px;">
				<div class="overlay"><%= content_tag :span, image[:source] %></div>
				<div class="imageSelector">
					<%= radio_button_tag 'imageSelect', image[:path] %>
				</div>
			</div>			
			<% end %>
		</div>
			
		<% if @images.length == 0 %>
			<h2>No suitable images were found at the selected site.</h2>
			<p>Images must have dimensions of at least 500x500 in order to be used by LifeKite.</p>
		<% end %>
					
		<script type="text/javascript">
		
			//Set initial values
			var newVal = {};
			newVal.imagePage = $("input[name^='imageSelect']:checked").val();
			newVal.site = '<%= @site %>';
			
			$(".remote-image-field").text(newVal.imagePage);
			$(".remote-image-field").val(JSON.stringify(newVal));
		
			$('.grid div div input:checked').parent().parent().toggleClass('selectedGrid', true);
			$('.grid div').click(function() {
				$('.grid div').removeClass('selectedGrid');
				$(this).find('input').prop('checked', true);
				$(this).toggleClass('selectedGrid',true);
				
				var newVal = {};
				newVal.imagePage = $("input[name^='imageSelect']:checked").val();
				newVal.site = '<%= @site %>';
				
				$(".remote-image-field").text(newVal.imagePage);
				$(".remote-image-field").val(JSON.stringify(newVal));
			})
		
			
		</script>
		<%= render 'formNew', :child => true %>
	</div>
</div>
