<p id="notice"><%= notice %></p>
<div class="row-fluid">
	<div class="kite span6">
		<%= image_tag(@kite.ImageLocation, :alt=>@kite.Description, :mouseover=>@kite.Description, :id=>'thumbnail') %>
	</div>
	<div class="span6">
		<div class="row">
		<div class="span12 well">
				<p>
				  <b>Created:</b>
				  <%= @kite.CreateDate %>
				  <p>
				  <%=h @kite.Description %>
				  </p>
				</p>
				
				<% if @kite.Completed? %>
				<p>
				  <b>Completed:</b>
				  <%= @kite.Completed %>
				</p>
				
				<p>
				  <b>Completed On:</b>
				  <%= @kite.CompleteDate %>
				</p>
				<% end %>
			<p>
  		</div>
  		</div>
  		<div class="row">
  			<div class="span12 well">
  				<b>Comments</b>
				<ul>
				  <% for comment in @kite.comments %>
				    <li><%= comment.content %> - <%= comment.user.username %></li>
				  <% end %>
				</ul>
				
				<%= link_to new_comment_path(:kite => @kite), :class => "btn" do %>
					<span><i class="icon-comment"></i>Add Comment</span>
				<% end %>
  			</div>
  		</div>
  	</div>
  </div>

<%= link_to 'Back', @kite.user, :class => "btn" %>
<% if @kite.user.id == current_user.id %>
<%= link_to 'Edit', edit_kite_path(@kite), :class => "btn" %> 
<%= link_to 'Delete', @kite, :confirm => 'Are you sure?', :method => :delete, :class => "btn" %>
	<% if @kite.sharelevel == "private" %>
		<%= link_to 'Make your kite public', promote_kite_path(@kite), :class => "btn" %>
	<% else %>
		<%= link_to 'Make your kite private', demote_kite_path(@kite), :class => "btn" %>
	<% end %>
<% end %>

