<p id="notice"><%= notice %></p>
<div class="row-fluid">
	<div class="kite span6">
		<div class="controlbar" style="text-align: center; margin-left: 10px; margin-right:10px;">
			<%= image_tag(@kite.ImageLocation, :alt=>@kite.Description, 
				:mouseover => @kite.ImageLocation, :id=>'thumbnail') %>
		</div>
		<div style="padding-top: 10px;padding-right: 10px;">
			<div class="span12 well">
				<p>
				  <b>Created:</b>
				  <%= @kite.CreateDate %>
				  <p>
				  <%=h @kite.Description %>
				  </p>
				</p>
				
				<% if @kite.Completed? %>
				<p>
				  <b>Completed:</b>
				  <%= @kite.Completed %>
				</p>
				
				<p>
				  <b>Completed On:</b>
				  <%= @kite.CompleteDate %>
				</p>
				<% end %>
				<p>
  			</div>
		</div>
	</div>
	<div class="span6">
		
  		<div class="row-fluid">
  			<div class="span12 controlbar" style="height:430px; overflow:auto;">
  				<h3 style="padding-left: 10px;">Comments:</h3>
  				
				<ul>
				  
				  <%= render @kite.comments(:order => "isHelpful DESC") %>
				 
				</ul>
				
				
  			</div>
  			<%= link_to new_comment_path(:kite => @kite.id), :class => "btn pull-right" do %>
				<span><i class="icon-comment"></i>Add Comment</span>
			<% end %>
  		</div>
  	</div>
</div>

<%= link_to 'Back', @kite.user, :class => "btn" %>
<% if @kite.user.id == current_user.id %>
    <%= link_to 'Update Description', edit_kite_path(@kite), :class => "btn" %> 
    <%= link_to 'Delete', @kite, :confirm => 'Are you sure?', :method => :delete, :class => "btn" %>
	<% if @kite.sharelevel == "private" %>
		<%= link_to 'Make your kite public', promote_kite_path(@kite), :class => "btn" %>
	<% else %>
		<%= link_to 'Make your kite private', demote_kite_path(@kite), :class => "btn" %>
	<% end %>
<% end %>

