<link type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" media="all" />
<% if !current_user.nil? && @kite.user.id == current_user.id %>
<div class="wrapper detail has-sidebar has-navigation">
<% else %>
<div class="wrapper detail has-navigation">
<%end%>
	<div class="container details-container">
    <div class="detail-kite-header">
      <h1><%=formatless_tags(@kite.Description)%></h1>
      <div class="info">
        <div class="arrow">
          <a data-toggle="collapse" data-target="#kite-details-frame">
            <%= image_tag('landing-arrow.png') %>
          </a>
        </div>
        <div class="dateline font-asap">
          <%= raw(kite_date_formated(@kite.CreateDate)) %>
        </div>
        <div class="heart">
          <% if current_user %>
            <%= link_to image_tag('landing-heart-closed.png'),
              Unfollow_kite_path(@kite),
              :method => :put,
              :remote => true,
              :class => "following #{'hidden' if current_user.is_following?(@kite.id)}"
            %>

            <%= link_to image_tag('landing-heart-open.png'),
              Follow_kite_path(@kite, :type => :like),
              :method => :put,
              :remote => true,
              :class => "not-following #{'hidden' unless current_user.is_following?(@kite.id)}"
            %>
          <% else %>
           <%= image_tag('landing-heart-open.png') %>
          <% end %>

        </div>
<!--         <% if @kite.Completed %>
          <div class="dateline">
            <%= raw(kite_date_formated(@kite.CompleteDate, 'Completed')) %>
          </div>
        <%end%> -->
      </div>
    </div>

    <div id="kite-details-frame" class="collapse">
      <h1 class="kite-full-title">
        <a data-toggle="collapse" data-target="#kite-details-frame">
          <%= image_tag('remove-icon.png', :class => 'remove-icon' ) %>
        </a>
        <%= @kite.Description %>
      </h1>

      <div class="col-md-12 details-section">
        <h4><p class="col-md-offset-1">Overview</p></h4>
        <%= format_tags(@kite.Details, :class => 'col-md-offset-1') %>
      </div>

      <div class="col-md-12 details-section">
        <h4><p class="col-md-offset-1">Progress</p></h4>
        <% if current_user == @kite.user %>
          <%= render 'kite_posts/form'%>
        <% end %>

        <div id="postlist" class="additional-images col-md-offset-1">
          <%= render partial: "kite_posts/kite_post", collection: @kitePosts %>
        </div>
        <%= link_to 'Load More', kite_path(@kite, :postpage => @kitePosts.next_page), :class => 'load-more load-more-posts', :remote => true if @kitePosts.next_page %>
      </div>

      <div class="col-md-12 details-section">
        <h4><p class="col-md-offset-1">Members</p></h4>
        <% if current_user == @kite.user %>
          <%= render 'follwings/member', :title => "Add a new member"%>
        <% end %>
        <ul id="memberslist" class="members-list user-list col-md-offset-1">
          <%= render @kite.follwings.where(:Type => "member")%>
        </ul>
      </div>

      <% if !@kite.ImageLocation.nil? && valid_json?(@kite.ImageLocation) %>
        <p class="dateline">Image original source: <a hef='<%= JSON.parse(@kite.ImageLocation)['site'] %>'>
          <%= JSON.parse(@kite.ImageLocation)['site'] %>
        </a></p>
      <% end %>

      <div class="col-md-12 details-section">
        <% if current_user == @kite.user %>
          <%= render 'privacyButtons', kite: @kite %>
        <% end %>
      </div>
    </div>
    <div class="detail-kite-img">
      <%= image_tag(@kite.kiteimage) %>
    </div>
    <div class="kite-comments-frame">
      <div class="kite-details">
    		<div class="row">
          <div class="col-md-1 vertical-dashing">Comments</div>
          <div class="col-md-1 vertical-dashing"><%=pluralize(@kite.supporters_count, 'supporter') %></div>
          <div class="col-md-1">Add category</div>
        </div>

        <% if current_user %>
          <%= render 'comments/form'%>
        <% end %>

        <div id="commentslist">
          <%= render @comments %>
        </div>
      </div>
    </div>
	</div>
</div>


