<link type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" media="all" />
<% if !current_user.nil? && @kite.user.id == current_user.id %>
<div class="wrapper detail has-sidebar has-navigation">
<% else %>
<div class="wrapper detail has-navigation">
<%end%>
	<div class="content">
    <div class="detail-kite-header">
      <h1><%=formatless_tags(@kite.Description)%></h1>
      <div class="info">
        <div class="arrow">
          <%= image_tag('landing-arrow.png') %>
        </div>
        <div class="dateline">
          <%= raw(kite_date_formated(@kite.CreateDate)) %>
        </div>
        <div class="heart">
          <%= image_tag('landing-heart-open.png') %>
        </div>
<!--         <% if @kite.Completed %>
          <div class="dateline">
            <%= raw(kite_date_formated(@kite.CompleteDate, 'Completed')) %>
          </div>
        <%end%> -->
      </div>
    </div>
    <div class="detail-kite-img">
      <%= image_tag(@kite.kiteimage) %>
    </div>
    <div class="kite-details-frame">
      <div class="kite-details">
    		<div class="row">
          <div class="col-md-1 vertical-dashing">Comments</div>
          <div class="col-md-1 vertical-dashing"><%=pluralize(@kite.supporters_count, 'supporter') %></div>
          <div class="col-md-1">Add category</div>
        </div>

        <div id="commentslist">
          <%= render @comments %>
        </div>
      </div>
    </div>
	</div>
</div>


