<p id="notice"><%= notice %></p>

<div class="row span12" style="margin-top: 20px;">
	<div class="span4">
	  <h2 style="margin-top: 0px;"><%= @group.name %></h2>
	</div>
	<div class="span3 offset4">
	  <b>Founder:</b>
	  <%= User.find(@group.founder_id).username %>
	</div>
</div>
<div class="row">
	<div class="span12 well groupList">
	<p><b>Members:</b>
	<ul id="double">
	  <% for user in @group.users %>
	    <li><%=h link_to user.username, user %></li>
	  <% end %>
	</ul>
	</div>
</div>
<%=h link_to "Invite new members to the group", new_invitation_path(:group => @group) %>
</p>

<% if @group.founder_id == current_user.id %>
<%= link_to 'Change the Name', edit_group_path(@group) %> | <%= link_to "Delete the group", @group, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

