<%= stylesheet_link_tag :all %>
<div id="content-container" class="span12">
	<div class="row-fluid">
		<p id="notice"><%= notice %></p>
	</div>
	<div class="row-fluid">

		<div class="span12" style="margin-top: 20px;">
			<div class="span4" style="margin-left: 20px;">
			  <h2 style="margin-top: 0px;"><%= @group.name %></h2>
			</div>
			<div class="pull-right">
			  <b>Founder:</b>
			  <%= User.find(@group.founder_id).username %>
			</div>
		</div>
		<div class="span12 well">
			<div class="span12 groupList">
			<p><b>Members:</b>
			<ul id="double">
			  <% for user in @group.users %>
			    <li class="groupmember">
			    	<%=h link_to user.username, user, :class=> "pull-left"%>
			    	<% if user.kites.where(:sharelevel => "public").size == 0 %>
			    		<div class="kitesample thumbnails row span12 pull-right">
			    			<strong>No kites shared</strong>
			    		</div>
			    	<% else %>
				    	<ul class="kitesample thumbnails row span12 pull-right">
				    	<% for kite in user.kites.where(:sharelevel => "public").sample(5) %>
				    		<li class="span2 thumbnail">
				    			<%=h link_to image_tag(kite.ImageLocation, :id=>'thumbnail', :size=>'10',
				    			:alt=>kite.Description, :mouseover => kite.ImageLocation), kite %>
				    		</li>
				    	<% end %>
				    	</ul>
				    <% end %>
			    </li>
			  <% end %>
			</ul>
			</div>
		</div>

		<div class="span12">
			<%=h link_to "Invite new members to the group", new_invite_path(:group => @group), :class => "btn" %>
			<% if @group.founder_id == current_user.id %>
			<%= link_to 'Change the Name', edit_group_path(@group), :class => "btn" %> 
			<%= link_to "Delete the group", @group, :confirm => 'Are you sure?', :method => :delete, :class => "btn" %>
			<% end %>
		</div>
