<%= form_for(@user, :html=> {:class=>"form-horizontal well"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
  <div class="span4">
  <div class="field control-group">
    <%= f.label :firstname, {:class => "control-label"} %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field control-group">
    <%= f.label :lastname, {:class => "control-label"} %><br />
    <%= f.text_field :lastname %>
  </div>
  </div>
  <div class="span4">
  <div class="field control-group">
  	<%= f.check_box(:notifyOnKiteComment, {:class=>'checkbox'}) %>
  	<%= f.label :notifyOnKiteComment, "Notify me when one of my kites receives a comment.", {:class => "control-label"} %>
  </div>
  <div class="field control-group">
  	<%= f.label :notifyOnKitePromote, "Notify me when one of my comments is promoted.", {:class => "control-label"} %>
  	<%= f.check_box(:notifyOnKitePromote, {:class=>"checkbox"}) %>
  </div>
  <div class="field control-group">
  	<%= f.label :sendEmailNotifications, "Send Email Notifications", {:class => "control-label"} %>
  	<%= f.check_box(:sendEmailNotifications, {:class=>"checkbox"}) %>
  </div>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
