<div id="content-container" class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<% if @user.id == current_user.id %>
				<p style="text-justify: inter-word;">
					<%= link_to "Create a New Kite", new_kite_path %>
					<%= link_to "Start New Group", new_group_path %>
				</p>
			<% end %>	
		</div>
	</div>
	<div class="row-fluid" id='showcase'>
		<div class="span2">
			<% if @user.id == current_user.id %>
				
				<% if @user.invitations.count > 0 %>
				<div id='invitations' class="SectionGroup">
				<h3>Invitiations</h3>
				<ul>
					<% for invitation in @user.invitations %>
						<li>
							You have an invitation to join <%=h link_to invitation.group.name, invitation %>
							<%= link_to 'Accept', accept_invitation_path(invitation) %>
							<%= link_to 'Decline', invitation, :confirm => 'Are you sure?', :method => :delete %>
						</li>
					<% end %>
				</ul>
				</div>
				<% end %>
				<div id='Groups' class="SectionGroup">
					<h3>Groups</h3>
					<ul>
				  		<% for group in @user.groups %>
				    	<li>
				      	<%=h link_to group.name, group %>
				    	</li>
				  		<% end %>
					</ul>
					
				</div>
				<% else %>
					<h3><%= @user.username %>'s kites</h3>
				<% end %>
		</div>
		<div class="span8">
			<div ></div>
		</div>
		<div class="span2" style="margin-top: 0px; margin-bottom: -30px;">
			<ul id='kitesContainer' class='jcarousel jcarousel-skin-ie7' >
				<% for kite in @user.kites %>
		    		<li>
		    			<%=h image_tag(kite.ImageLocation, :id=>'thumbnail', :name=>kite.id, :alt=>kite.Description, :size=>'50') %>
		    		</li>   		
				<% end %>
			</ul>	
		</div>
		<div class="row-fluid">
			<div class="span2">
			</div>
			<div class="span8" id="moreinfo">
				<span id="kiteDesc"></span>
				<%= link_to 'more...', kites_path %>
			</div>
		</div>
	</div>
</div>