<div id="content-container" class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<% if @user.id == current_user.id %>
				<p style="text-justify: inter-word;">
					<%= link_to "Create a New Kite", new_kite_path, { :class => "btn" } %>
					<%= link_to "Start New Group", new_group_path, { :class => "btn" } %>
				</p>
			<% end %>	
		</div>
	</div>
	<div class="row-fluid" id='showcase'>
		<div class="span2">
			<% if @user.id == current_user.id %>
				
				<% if @user.Invites.count > 0 %>
				<div id='Invites' class="SectionGroup">
				<h3>Invitiations</h3>
				<ul>
					<% for invite in @user.Invites %>
						<li>
							You have an Invite to join <%=h link_to invite.group.name, Invite %>
							<%= link_to 'Accept', accept_invite_path(invite) %>
							<%= link_to 'Decline', invite, :confirm => 'Are you sure?', :method => :delete %>
						</li>
					<% end %>
				</ul>
				</div>
				<% end %>
				
				<% if @user.Notifications.count > 0 %>
					<div id='Notifications' class='SectionGroup'>
						<h3>Notifications</h3>
						<ul>
							<% for notification in @user.Notifications %>
								<li>
									<%=h notification.message %>
									<%= link_to 'View', notification.link %>
									<%= link_to 'Dismiss', notification, :method => :delete %>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
				
				<div id='Groups' class="SectionGroup">
					<h3>Groups</h3>
					<ul>
				  		<% for group in @user.groups %>
				    	<li>
				      	<%=h link_to group.name, group %>
				    	</li>
				  		<% end %>
					</ul>
					
				</div>
				<% else %>
					<h3><%= @user.username %>'s kites</h3>
				<% end %>
		</div>
		<div class="span8">
			<div ></div>
		</div>
		<div class="span2" style="margin-top: 0px; margin-bottom: -30px;">
			<ul id='kitesContainer' class='jcarousel jcarousel-skin-ie7' >
				<% if @user.id == current_user.id %>
					<% for kite in @user.kites %>
			    		<li>
			    			<%=h image_tag(kite.ImageLocation, :id=>'thumbnail', :name=>kite.id, :alt=>kite.Description, :size=>'50', :title=>kite.sharelevel) %>
			    		</li>   		
					<% end %>
				<% else %>
					<% @user.kites.find_each(:sharelevel => "public") do |kite| %>
			    		<li>
			    			<%=h image_tag(kite.ImageLocation, :id=>'thumbnail', :name=>kite.id, :alt=>kite.Description, :size=>'50', :title=>kite.sharelevel) %>
			    		</li>   		
					<% end %>
				<% end %>
			</ul>	
		</div>
		<div class="row-fluid">
			<div class="span2">
			</div>
			<div class="span8" id="moreinfo">
				<span id="kiteState" style="float: left; margin-left: 10px;"></span>
				<span id="kiteDesc"></span>
				<%= link_to ' more...', kites_path %>
			</div>
		</div>
	</div>
</div>