<div id='summary'>
	<ul>
		<li>Life Goals</li>
		<li>Beautiful Images</li>
		<li>Encouraging Friends</li>
	</ul>
</div>
<div id='login'>
<%= form_for("user", :url => user_session_path) do |f| %>
  <p><%= f.label :username %><br />
  <%= f.text_field :username %></p>
  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>
  <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>

  <p><%= f.submit 'Sign in' %></p>
  <%= link_to "Forgot your password?", new_password_path('user') %>
<% end %>

</div>