<h1><%= @user.username %></h1>
<p><%= @user.email %></p>
<br/>
<p><%= link_to 'Edit', edit_user_registration_path %></p>

<p><h3>Groups</h3>
<ul>
  <% for group in @user.groups %>
    <li>
      <%=h group.try(:name) %>
      <%= link_to 'Edit', edit_kite_path(kite) %>
      (<%= link_to "remove", group, :method => :delete %>)
    </li>
  <% end %>
</ul>
<%= link_to "Start New Group", new_group_path %></td>
</p>
<p><h3>Kites</h3>
<ul>
  <% for kite in @user.kites %>
    <li>
      <%=h image_tag(kite.ImageLocation) %>
      <%= link_to 'Show', kite %>
      <%= link_to 'Edit', edit_kite_path(kite) %>
      <%= link_to 'Destroy', kite, :confirm => 'Are you sure?', :method => :delete %>
    </li>
  <% end %>
</ul>
<%= link_to "Create New Kite", new_kite_path %></td>
