<%= stylesheet_link_tag :all %>
<div class="row-fluid" style="margin-top: 10px; margin-bottom: 10px;clear: both; padding-top: 60px;">
<div id='logo' class="span4">
	<%= image_tag("Kite.png") %>
</div>
<div class="span4" id="summary">
	<ul>
		<li style="font-family: 'Sofadi One', cursive; font-size: 30px;">Life Goals</li>
		<li style="font-family: 'Sofadi One', cursive; font-size: 30px;">Beautiful Images</li>
		<li style="font-family: 'Sofadi One', cursive; font-size: 30px;">Encouraging Friends</li>
	</ul>
</div>
<div class="span4">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
	:html => {:class => "form-vertical", :style=> "border: 1px solid black; padding: 10px;" }) do |f| %>
  <div class="control-group">
  	<%= f.label :username %>
  	<%= f.text_field :username %>
  
  	<%= f.label :password %>
  	<%= f.password_field :password %>
	<br/>
  	<% if devise_mapping.rememberable? -%>
    	<p><%= f.check_box :remember_me %><%= f.label :remember_me, :class => "checkbox", :style => "margin-top: -18px;" %></p>
  	<% end -%>

  	<%= f.submit "Sign in", {:class => "btn"} %>
  </div>
<% end %>

</div>
</div>