
<div id='login'>
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
	:html => {:class => "well form-horizontal" }) do |f| %>
  <div c;ass="control-group">
  	<%= f.label :username %>
  	<%= f.text_field :username %>
  
  	<%= f.label :password %><br />
  	<%= f.password_field :password %>
	<br/>
  	<% if devise_mapping.rememberable? -%>
    	<p><%= f.check_box :remember_me, {:class => "checkbox"} %> <%= f.label :remember_me, {:class => "btn"} %></p>
  	<% end -%>

  	<%= f.submit "Sign in", {:class => "btn"} %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>