<%= form_for(@kitePost, :remote => true, :html => {:class => "col-md-offset-1"}) do |f| %>
  <% if @kitePost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kitePost.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @kitePost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-11">
      <%= f.text_area :text, :rows => 2, :placeholder => "What's new?", :class => "comment-field" %>
    </div>
  </div>
  <div class="row">
  	<%= f.hidden_field "kite_id", :value => @kite.id %>
  </div>
  <div class="row">
    <div class="col-md-11">
      <input type="text" class="add-image image-upload-field surrogate" placeholder="Upload an image..." />
    </div>
  </div>
  <%= f.file_field :image, :class=>"image-upload-field upload-actual hidden" %>
  <div class="actions">
    <%= f.submit "Post", {:class => "create-button button", :data => {disable_with: "Please wait..."}}%>
  </div>
<% end %>
