<%= form_for(@sharedpurpose, :html=>{:class => 'form-horizontal well'}) do |f| %>
	<% if @sharedpurpose.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@sharedpurpose.errors.count, "error") %>
		  
		  <ul>
		    <%sharedpurpose.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		  </ul>
		</div>
 	<% end %>
 	
 	<div class="field control-group">
 		<%= f.label :name, :html => { :class=>'control-label'} %>
 		<%= f.text_field :name %>
 	</div>
 	<div class="field">
 		<%= f.hidden_field "founder_id", :value => current_user.id %>
 	</div>
 	<div class="actions">
 		<%= f.submit "Create Kite String", :class => "btn " %>
 		<%= link_to 'Cancel', current_user, :class => "btn" %>
 	</div>
 <% end %>
 