<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>
<p>
  <b>Founder:</b>
  <%= User.find(@group.founder_id).username %>
</p>

<p><b>Members:</b>
<ul>
  <% for user in @group.users %>
    <li><%=h link_to user.username, user %></li>
  <% end %>
</ul>
<%=h link_to "Invite new members to the group", new_invitation_path(:group => @group) %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |


