<h2>Send Invite</h2>

<%= form_for resource, :as => resource_name, :url => Invite_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <p><%= f.label field %><br />
  <%= f.text_field field %></p>
<% end -%>

  <p><%= f.submit "Send an Invite" %></p>
<% end %>

<%= link_to "Home", after_sign_in_path_for(resource_name) %><br />
