<div id="header" class="site-header">
	<div class="site-logo">
		<a href="/">
			<img src="/images/big-logo.png" alt="LifeKite">
		</a>
	</div>
  	
	<div class="header-controls">
		<nav class="main-nav">
			<ul>
				<li class="nav-item"><a href=<%= kites_path%>>Explore</a></li>
				<li class="nav-item"><a>Tour</a></li>
				<li class="nav-item"><a href="https://lifekite.wufoo.com/forms/lifekite-support/">Support</a></li>
				<li class="nav-item"><a>Our Partners</a></li>
				<%if current_user %>
				<li class="nav-item"><%= link_to 'Invite a Friend', showInvite_user_path(current_user.id) %></li>
				<% end %>
			</ul>
			
		</nav>
		<div class="user-controls">
			<%if current_user %>
				<div >Welcome, <%= content_tag(:span, current_user.username, :class => "username")%> | <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></div>
			<%else%>
				<ul>
					<li class="user-control log-in-button"><%= link_to 'Log In', new_session_path(resource_name) %></li>
					<!--><li class="user-control log-in-button"><%= link_to "Log In with Facebook", user_omniauth_authorize_path(:facebook) %></li>-->
					<li class="user-control sign-up-button"><%= link_to 'Sign Up', new_registration_path(resource_name) %></li>
				</ul>
			<%end%>
		</div>
	</div>
</div>