<div id="header" class="site-header">
	<div class="site-logo">
		<a href="/">
			<img src="/images/big-logo.png" alt="LifeKite">
		</a>
	</div>

	<div class="header-controls">
		<nav class="main-nav">
			<ul>
				<% if current_user %>
					<% if !current_page?(root_url) %>
						<li class="nav-item-icon"><%= link_to(image_tag('home-icon.png'), root_path) %></li>
					<% end %>
					<li class="nav-item"><%= link_to 'Add a Kite', new_kite_path %></li>
					<li class="nav-item"><%= link_to 'My Profile', edit_user_registration_path %></li>
					<li class="nav-item"><%= link_to 'Help', "https://lifekite.wufoo.com/forms/lifekite-support/" %></li>
					<li class="nav-item"><%= link_to 'Invite a Friend', showInvite_user_path(current_user.id) %></li>
					<li class="nav-item"><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
				<%else%>
					<li class="user-control log-in-button"><%= link_to 'Log In', new_session_path(resource_name) %></li>
					<li class="user-control log-in-button"><%= link_to "Log In with Facebook", user_omniauth_authorize_path(:facebook) %></li>
					<li class="user-control sign-up-button"><%= link_to 'Sign Up', new_registration_path(resource_name) %></li>
				<% end %>
				<li class="nav-item"><%= render "layouts/search"%></li>
			</ul>
		</nav>
	</div>
</div>
