<!DOCTYPE html>
<html>
<head>
  <title>Lifekite</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <link href='http://fonts.googleapis.com/css?family=Sofadi+One' rel='stylesheet' type='text/css'>
  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container" class="container-fluid">
	
  <%= render 'layouts/header'%>
  <div class="alert alert-success span12" style="display: none;"><%= notice %></div>
  <div class="alert alert-error span12" style="display: none;"><%= alert %></div>
  	  <% if !current_user.nil? %>
  	  	<%= render 'layouts/sidebar' %>
  	  <% end %>
      <%= yield %>
  	</div>
  </div>
</body>
</html>
