<!DOCTYPE html>
<html>
<head>
  <title>Lifekite</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <!-- https://www.google.com/fonts#ReviewPlace:refine/Collection:Asap:400,700|Sofadi+One|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700 -->
  <link href='http://fonts.googleapis.com/css?family=Asap:400,700|Sofadi+One|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container" class="container">
  <%= render 'layouts/messages' %>
  <%= render 'layouts/header'%>
      <%= yield %>
  	</div>
  </div>
  <div class="back-to-top">
    <%= link_to 'Back to Top', '' %>
  </div>
</body>
</html>
